@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap");
* {
    box-sizing: border-box;
}

.titel {
    font-family: "DM Sans", sans-serif;
    width: 100%;
    height: 10%;
}

.dropdown-container {
    text-align: center;
    margin-bottom: 20px;
    height: 80%;
    width: 100%;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin: 2%;
    width: 50%;
    color: #ffffff;
    background-color: var(--button-bg);
    border-radius: 5px;
    padding: 15px;
    cursor: pointer;
    font-family: "DM Sans", sans-serif;
    font-size: 20px;
    font-weight: 500;
    border: none;
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    white-space: normal;
    overflow: hidden;
}

.dropdown option {
    background-color: rgb(85, 111, 111);
    color: #ffffff;
}

.dropdown-select {
    background-color: cyan;
    border-radius: 5px;
    padding: 15px;
    cursor: pointer;
}

.dropdown-options {
    position: absolute;
    background-color: rgb(85, 111, 111);
    border: 1px solid #062b3c;
    border-radius: 5px;
    padding: 10px;
    top: calc(100% + 5px);
    left: 50%;
    transform: translateX(-50%);
    width: max-content;
    display: none;
    z-index: 1000;
    width: 70%;
}

.dropdown-options.active {
    display: block;
}

.dropdown-options li {
    list-style: none;
    padding: 10px;
    cursor: pointer;
    text-align: center;
}

.dropdown-options li:hover {
    background-color: #00aeff;
    color: #fff;
}

.action {
    height: 20%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.action button,
.action label {
    background-color: var(--button-bg);
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    border: none;
    border-radius: 10px;
    color: var(--main-color);
    cursor: pointer;
    margin: 10px;
    padding: 10px;
    font-family: "DM Sans", sans-serif;
    transition: 0.2s;
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.action-left {
    color: var(--main-color);
    border-style: dashed;
    border-color: var(--main-color);
    margin-bottom: 20px;
    width: 100%;
    /* Adjust the width as needed */
}

.action-left img {
    max-width: 100%;
    max-height: 100%;
}

.hr_color {
    font-weight: bold;
    color: red;
    /* Default color for light theme */
}

.hr_color {
    width: 100%;
    /* Set the width to 100% */
    height: 2px;
    /* Set the height as desired */
    background-color: var(--line-color);
    margin-bottom: 0;
}

.action button:hover {
    background-color: #ff4800;
}


/* Style for image container */

.image-container {
    width: 100%;
    /* Fixed width for the container */
    height: 70vh;
    /* Fixed height for the container */
    overflow: hidden;
    /* Hide any overflow from the image */
}

.image-container img {
    /* object-fit:fill; */
    display: block;
    width: 100%;
    object-fit: contain;
    height: 100%;
}

.icons_style {
    width: 30px;
}

.fullscreen-btn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 40px;
}

.notification-popup {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    display: none;
}


/*------                   -------------------------------------------------                         -----*/

:root {
    --app-container: #cecece;
    --main-color: #000000;
    --secondary-color: #b4b4b4;
    --link-color: #1f1c2e;
    --link-color-hover: #c3cff4;
    --link-color-active: #fff;
    --link-color-active-bg: #1f1c2e;
    --projects-section: #eae7e7;
    --message-box-hover: #fafcff;
    --message-box-border: #e9ebf0;
    --more-list-bg: #fff;
    --more-list-bg-hover: #f6fbff;
    --more-list-shadow: rgba(209, 209, 209, 0.4);
    --button-bg: #08bbe8;
    --search-area-bg: #fff;
    --star: #1ff1c2e;
    --message-btn: #fff;
    --line-color: #000;
    color: black;
}

.dark:root {
    --app-container: #1f1d2b;
    --app-container: #111827;
    --main-color: #fff;
    --secondary-color: rgba(255, 255, 255, 0.8);
    --projects-section: #1f2937;
    --link-color: rgba(255, 255, 255, 0.8);
    --link-color-hover: rgba(195, 207, 244, 0.1);
    --link-color-active-bg: rgba(195, 207, 244, 0.2);
    --button-bg: #07819f;
    --search-area-bg: #225cac;
    --message-box-hover: #243244;
    --message-box-border: rgba(255, 255, 255, 0.1);
    --star: #b89e2e;
    --light-font: rgba(255, 255, 255, 0.8);
    --more-list-bg: #2f3142;
    --more-list-bg-hover: rgba(195, 207, 244, 0.1);
    --more-list-shadow: rgba(195, 207, 244, 0.1);
    --message-btn: rgba(195, 207, 244, 0.1);
    --line-color: #fff;
    color: white;
}

html,
body {
    width: 100%;
    height: 100vh;
    margin: 0;
}

body {
    font-family: "DM Sans", sans-serif;
    overflow: hidden;
    display: flex;
    justify-content: center;
    background-color: var(--app-container);
}

button,
a {
    cursor: pointer;
}

.app-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: var(--app-container);
    transition: 0.2s;
    max-width: 1800px;
}

.app-container button,
.app-container input,
.app-container optgroup,
.app-container select,
.app-container textarea {
    font-family: "DM Sans", sans-serif;
}


/* Additional CSS for the horizontal line */

.app-content {
    display: flex;
    overflow: hidden;
    padding: 16px 24px 24px 0;
}

.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1px 24px;
    position: relative;
}

.app-header-left,
.app-header-right {
    display: flex;
    align-items: center;
}

.app-header-left {
    flex-grow: 1;
}

.app-header-right button {
    margin-left: 10px;
}

.app-icon {
    width: 26px;
    height: 2px;
    border-radius: 4px;
    background-color: var(--main-color);
    position: relative;
}

.app-icon:before,
.app-icon:after {
    content: "";
    position: absolute;
    width: 12px;
    height: 2px;
    border-radius: 4px;
    background-color: var(--main-color);
    left: 50%;
    transform: translatex(-50%);
}

.app-icon:before {
    top: -6px;
}

.app-icon:after {
    bottom: -6px;
}

.app-name {
    color: var(--main-color);
    margin: 0;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    margin: 0 32px;
}

.mode-switch {
    background-color: transparent;
    border: none;
    padding: 0;
    color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-btn {
    color: #fff;
    background-color: var(--button-bg);
    padding: 0;
    border: 0;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-btn {
    height: 50%;
    width: 50%;
    padding: 0;
    border: 0;
    background-color: transparent;
    display: flex;
    align-items: center;
    padding-left: 12px;
    border-left: 2px solid #ddd;
}

.profile-btn img {
    width: 100px;
    height: 40px;
    -o-object-fit: cover;
    object-fit: cover;
    margin-right: 4px;
}

.page-content {
    flex: 1;
    width: 100%;
}

.app-sidebar {
    padding: 40px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app-sidebar-link {
    color: var(--main-color);
    color: var(--link-color);
    margin: 16px 0;
    transition: 0.2s;
    border-radius: 50%;
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-sidebar-link:hover {
    background-color: var(--link-color-hover);
    color: var(--link-color-active);
}

.app-sidebar-link.active {
    background-color: var(--link-color-active-bg);
    color: var(--link-color-active);
}

.projects-section {
    background-color: var(--projects-section);
    border-radius: 32px;
    padding: 20px;
    padding-top: 0px;
    overflow: hidden;
    height: 80vh;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: 2%;
    width: 75%;
}

.projects-status {
    width: 100%;
    justify-content: space-between;
    display: flex;
    font-size: small;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.projects-status p {
    font-weight: bold;
}

.left-text,
.right-text {
    flex-grow: 1;
    /* Makes the text within each div take up equal width */
}

.left-text {
    text-align: left;
    display: flex;
    align-items: center;
}

.right-text {
    text-align: right;
}

#img1-name-display {
    margin-right: 10px;
    /* Add space between elements */
}

.projects-section-header {
    height: 10%;
}

.projects-section-header h3 {
    font-size: 20px;
    line-height: 32px;
    font-weight: 700;
    opacity: 0.9;
    margin: 0;
}

.projects-section-header .time {
    font-size: 20px;
}

.item-status {
    display: flex;
    flex-direction: column;
    margin-right: 16px;
}

.item-status:not(:last-child) .status-type:after {
    content: "";
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translatey(-50%);
    width: 6px;
    height: 6px;
    border-radius: 50%;
    border: 1px solid var(--secondary-color);
}

.status-number {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    color: var(--main-color);
}

.status-type {
    position: relative;
    padding-right: 24px;
    color: var(--secondary-color);
}

.view-actions {
    display: flex;
    align-items: center;
}

.view-btn {
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    border-radius: 4px;
    background-color: transparent;
    border: none;
    color: var(--main-color);
    margin-left: 8px;
    transition: 0.2s;
}

.view-btn.active {
    background-color: var(--link-color-active-bg);
    color: var(--link-color-active);
}

.view-btn:not(.active):hover {
    background-color: var(--link-color-hover);
    color: var(--link-color-active);
}

.messages-section {
    flex-shrink: 0;
    padding-bottom: 32px;
    background-color: var(--projects-section);
    margin-left: 24px;
    flex: 1;
    width: 100%;
    border-radius: 30px;
    position: relative;
    overflow: auto;
    transition: all 300ms cubic-bezier(0.19, 1, 0.56, 1);
    display: flex;
    flex-direction: column;
}

.messages-section .messages-close {
    position: absolute;
    top: 12px;
    right: 12px;
    z-index: 3;
    border: none;
    background-color: transparent;
    color: var(--main-color);
    display: none;
}

.messages-section.show {
    transform: translateX(0);
    opacity: 1;
    margin-left: 0;
}

.messages-section .projects-section-header {
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 32px 24px 0 24px;
    background-color: var(--projects-section);
}

.message-box img {
    border-radius: 50%;
    -o-object-fit: cover;
    object-fit: cover;
    width: 40px;
    height: 40px;
}

.message-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.message-header .name {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: var(--main-color);
    margin: 0;
}

.message-content {
    padding-left: 16px;
    width: 100%;
}

.mode-switch.active .moon {
    fill: var(--main-color);
}


/*------                   -------------------------------------------------                         -----*/


/* Style for the popup container */

.popup-container {
    display: none;
    /* Initially hide */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent black overlay */
    z-index: 9999;
    /* Ensure it appears above other content */
}


/* Style for the popup content */

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    background-color: var(--app-container);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    /* Drop shadow effect */
    z-index: 1000;
    flex-direction: column;
}


/* Style for the tabs container */

.popup-tabs {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 15%;
    display: flex;
    justify-content: space-between;
    background-color: var(--app-container);
    color: var(--main-color);
    border-radius: 10px 10px 0 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    /* Drop shadow effect */
    z-index: 1000;
}


/* Style for individual tab container */

.popup-tab-container {
    flex: 1;
}


/* Style for individual tab */

.popup-tab {
    cursor: pointer;
    padding: 10px 20px;
}


/* Style for image */

.popup-image {
    max-width: 100%;
    max-height: 80vh;
    flex-shrink: 1;
    object-fit: contain;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    cursor: pointer;
    z-index: 10000;
    color: red;
}


/* Style for image compare viewer container */

#imageCompareViewer {
    width: 100%;
    height: 100%;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Adjust the opacity as needed */
    z-index: 98;
    /* Ensure it's below the popup but above other elements */
}

.loading-screen {
    background-color: white;
    z-index: 10000;
}